<div class="jumbotron">
  <h1>Message-Board</h1>
  <div class="bar">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          {{#link-to 'index'}}<button class="btn btn-default">HOME</button>{{/link-to}}
          {{#link-to 'about'}}<button class="btn btn-default">ABOUT</button>{{/link-to}}
          {{#link-to 'contact'}}<button class="btn btn-default">CONTACT</button>{{/link-to}}
        </div>
      </div>
    </nav>
  </div>
</div>
{{outlet}}
