<!-- how the user can acces us -->
<h2 class="contact-banner">Question-Board representatives would like to answer or communicate with you effectively:</h2>
<!-- column -->
<div class="col-md-8">
<iframe src="https://www.google.co.ke/maps/place/Sinoni+sports+club/@-1.394981,36.7369938,17z/data=!3m1!4b1!4m5!3m4!1s0x182f05ccca1e3ca1:0xac475fc46b15de99!8m2!3d-1.394981!4d36.7391825?hl=en" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- end of column -->
<!-- column -->
<div class="col-md-4">
  <p>Contact us today!</p>
  <p>
    Question-Bard Headquarters<br>
    1212  SInoni Sport Club<br>
    TestyMcTestington, OR 97233
  </p>
  <p>(503) 555-1212</p>
  <p>[alexkinuthia125@gmail.com]</p>
</div>
<!-- end of column -->
