<h1> Welcome to Question-Board</h1>

We hope you will find questions,ask and post new questions.

<ul>
  {{#each model as |question|}}
     {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
